.titleHome {
  color: #961212;
  font-family: 'Anton', sans-serif;
  font-style: italic;
  font-size: 200%;
  font-weight: lighter;
}

.infoInicial {
  color: #0e0c58;
}

.button--Insc {
  border-radius: 10px;
  margin-left: 700px;
  margin-top: 40px;
}

section {
  padding-top: 2em;
  color: white;
}

footer {
  text-align: right;
  margin-top: auto;
  position: absolute;
  width: 100%;
  bottom: 0;
}

footer a {
  text-decoration: none;
  font-size: 150%;
  font-weight: bolder;
}

.footer__home {
  position: unset;
}

.info {
  font-family: 'Fjalla One', sans-serif;
  font-weight: lighter;
}

body {
  background-image: url(../fotos/black-belt.jpg);
  background-color: #5f5f5f;
  background-blend-mode: soft-light;
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
}

.bodyHome {
  background-image: url(../fotos/alumnos.jpg);
  background-color: #505050;
  background-blend-mode: soft-light;
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  margin-bottom: 8px;
}

header {
  position: -webkit-sticky;
  position: sticky;
  color: #e7cece;
  height: 50px;
  margin-bottom: 0;
}

nav {
  height: 50px;
}

.nav--estilo, nav ul li a, nav ul li a:hover {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  font-size: 1.2rem;
}

.header__home {
  grid-area: header;
}

.home__section--info {
  grid-area: info;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.senseiGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sensei img {
  width: 9rem;
  height: 11rem;
}

.sensei p {
  padding: 5px;
}

.sensei {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

.sensei img:hover {
  width: 200px;
  height: 200px;
  -webkit-animation-name: imagines;
          animation-name: imagines;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes imagines {
  from {
    width: 9rem;
    height: 11rem;
  }
  to {
    width: 200px;
    height: 200px;
    width: 200px;
    height: 200px;
  }
}

@keyframes imagines {
  from {
    width: 9rem;
    height: 11rem;
  }
  to {
    width: 200px;
    height: 200px;
    width: 200px;
    height: 200px;
  }
}

#btn--Inscripcion {
  color: black;
}

.btn-insc {
  margin-top: 2em;
}

.card-body {
  color: black;
}

.card-icon {
  height: 3.5em;
}

.card {
  padding-top: 0.6250em;
}

a img {
  width: 3em;
}

.carousel-item {
  overflow: hidden;
  width: 100%;
  height: 45em;
}

.carousel_img-size {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carousel-img {
  height: auto;
  width: 100%;
}

@media (min-width: 991px) and (min-width: 768px) {
  nav.navbar .home__section {
    height: 37.5em;
  }
  nav.navbar nav.navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav.navbar #navbarNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (min-width: 991px) {
  body {
    min-height: 100vh;
  }
}

@media (max-width: 990px) {
  #navbarNav {
    background-color: white;
  }
  .navbar-collapse {
    width: 100vw;
    left: 0;
    position: absolute;
    top: 4.375em;
    padding: 1.875em;
    z-index: 10;
    border-bottom: solid black 1px;
  }
  .home__section {
    z-index: -1;
  }
  header {
    border: none;
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: white;
  }
  .navbar {
    height: 5em;
    background-color: white;
  }
  section {
    padding: 5em;
  }
  .card {
    margin-bottom: 3.125em;
  }
  .contenedor {
    padding: 0.9375em;
    border: 1px solid white;
    border-top: none;
    padding-top: 0;
    position: relative;
    margin-top: 30px;
  }
  .titulo {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    top: -14px;
    left: -15px;
  }
  .titulo::before {
    content: "";
    height: 1px;
    width: 3%;
    background-color: white;
    position: relative;
    left: 0;
    top: -5px;
  }
  .titulo::after {
    content: "";
    height: 1px;
    width: calc(100% - 30px);
    background-color: white;
    position: relative;
    right: -30px;
    top: -5px;
  }
  .titulo h2 {
    margin: 0;
    margin-left: 15px;
  }
}
/*# sourceMappingURL=estilo.css.map */